.btn, 
.btn-alt {
  display: inline-block;
  cursor: pointer; 
  @include border-radius(4px);
  &:active {
    position: relative;
	  bottom: -1px; } } 

.btn {
  padding: 4px 15px; }

.btn-alt {
  padding: 5px 15px; }

.btn-1 {
  border-top: 1px solid $alt-gray;
  border-left: 1px solid darken($alt-gray, 10%);
  border-right: 1px solid darken($alt-gray, 10%);
  border-bottom: 1px solid darken($alt-gray, 10%);  
  background: #f1f1f1; 
  @include background(linear-gradient($top-gray-1, $bot-gray-1));  
  @include box-shadow(rgba(0,0,0,.1) 1px 1px 4px);
  &:hover {
    @include background(linear-gradient(darken($top-gray-1, 3%), darken($bot-gray-1, 3%))); } }

.slideout-form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  top: -1px;   
  padding: 5px 8px;
  margin-top: 2px;
  cursor: pointer;
  background-color: #900;
  border-top: 1px solid #7e0000;
  border-right: 1px solid #740000;
  border-bottom: 1px solid #700000;
  border-left: 1px solid #740000; 
  text-align: center;
  text-shadow: 0 1px 1px rgba(100, 100, 100, 1);
  font-weight: 700;
  color: #fff;
  font-size: .85em;
  @include background-image(linear-gradient(#b00, #900));  
  @include box-shadow(rgba(255,155,100,0.4) 0 1px 0 0 inset, rgba(0,0,0,0.2) 0 1px 3px ); 
  @include border-radius(4px);
  @media (max-width: 300px) {
    display: block;
    margin-top: 3px; } }

.slideout-form input[type="submit"]:hover, 
.slideout-form input[type="submit"]:active {
  background: #b00;
  border-top: 1px solid #860000;
  border-right: 1px solid #830000;
  border-bottom: 1px solid #780000;
  border-left: 1px solid #830000; 
  @include background-image(linear-gradient(#d00, #900));
  @include box-shadow(rgba(255,155,100,0.4) 0 1px 0 0 inset, rgba(100,100,100,0.5) 0 1px 5px ); }