$red             :  #aa0000;
$light-gray      :  #d1d1d1;
$light-gray-alt  :  #888888;
$mid-gray        :  #737373;
$main-gray       :  #444444; // Main body copy
$alt-gray 	     :  #c2c2c2;
$alt-gray-2      :  #dadada; 
$alt-gray-3      :  #555765; 

$top-gray-1      :  #f1f1f1; // Used on buttons
$bot-gray-1      :  #bcbcbc; // Used on buttons
