input, 
textarea, 
input[type="password"], 
input[type="search"], 
isindex {
  outline: none;
  padding: 1px;
  border: 1px solid $alt-gray-2;
  border-image: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto; }

input[type=email],
input[type=text],
textarea {
  margin: 1px 0 0;
  padding: 5px 10px;
  width: 100%;
  color: $main-gray;
  font-weight: 400;
  font-size: 1em;  
  border: 1px solid $alt-gray;
  -webkit-appearance: none;
  outline: none;
  @include border-radius(4px);
  @include transition-duration(.3s);
  @include box-shadow(rgba(black, .05) 1px 1px 2px inset); 
  &:focus {
    border: 1px solid #129fea;
    @include box-shadow(rgba(black, .15) 1px 1px 2px inset); } }

input[type="checkbox"] {
  position: relative;
  top: 1px;
  margin-right: 2px; }

.checkbox-label {
  margin-bottom: 2px; }

  // Contact Form 7 

.wpcf7-list-item  {
  display: block;
  padding: 1px 0; }

span.wpcf7-list-item {
  margin-left: 0; }