/* -- Use this wrapper if you want to divide your columns -- */
	
.divide-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }

/* -- Use this wrapper if you want to block-out a column with padding 
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */

.island {
  padding: 1.5em;
  background-color: #ececec;

  :last-child {
    margin-bottom: 0; }
	
}
		
/* -- Setup grids with base class -- */		
@include grids-init("col");

/* -- Breakpoint (.bp1)
------------------------------------------------------------- */			
@media only screen and (min-width: $bp1-break-plus-1) { 
  @include grid-setup("bp1-col");    
}
   
/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */			
@media only screen and (min-width: $bp2-break-plus-1) {
  @include grid-setup("bp2-col");    
}

/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */			
@media only screen and (min-width: $bp3-break-plus-1) {
  @include grid-setup("bp3-col");    
}