.logo-wrap {
  padding-top: 30px;
  position: relative;
  z-index: 8000;
  @media (max-width: $bp3-break) {
    padding-top: 26px; }
  @media (max-width: $bp2-break) {
    padding-top: 19px; }
  @media (max-width: $bp1-break) {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px; }	}

.logo {
  background: url('../images/logo-1.svg') no-repeat; 
  width: 385px;
  height: 64px;
  @media (max-width: $bp3-break) {
    background: url('../images/logo-2.svg') no-repeat;
	width: 330px;
	height: 55px; }
  @media (max-width: $bp2-break) {
    background: url('../images/logo-3.svg') no-repeat;
	width: 254px;
	height: 42px; }
  @media (max-width: $bp-tiny-break) {
    background: url('../images/logo-4.svg') no-repeat;
	width: 202px;
	height: 33px; }	} 
	
.no-svg .logo {
	background: url('../images/logo-1.png') no-repeat; 
  @media (max-width: $bp3-break) {
    background: url('../images/logo-2.png') no-repeat; }
  @media (max-width: $bp2-break) {
    background: url('../images/logo-3.png') no-repeat; }
  @media (max-width: $bp-tiny-break) {
    background: url('../images/logo-4.png') no-repeat; }	}

.action-calls {
  float: right;
  padding-top: 23px;
  @media (max-width: $bp2-break ) {
    padding-top: 15px; }
  @media (max-width: $bp1-break ) { 
    float: left;
    padding-top: 10px; } }
  
.header-phone, .header-email {
  line-height: 1.25;
  color: $red;
  font-weight: 700;
  font-size: .75em;
  @media (max-width: $bp-small-break) {
    width: 100%;}  }
  
.header-phone{ 
  float: left;
  margin-left: 8px;
  @media (max-width: $bp2-break) {
    margin-left: 0; } }
  
.header-email, {
  float: right;
  @media (max-width: $bp1-break) {
    margin-left: 15px; }
  @media (max-width: $bp-small-break) {
	float: left;
    margin: 7px 0 5px; } } 
  
.header-phone-text, .header-email-text {
  float: right;
  @media (min-width: $bp2-break) and (max-width: $bp3-break) {
    font-size: .95em; }
  @media (max-width: $bp-small-break) {
	float: left; } }
  
.header-email-text {
  position: relative;
  z-index: 1000; }

.search-form {
  clear: both;
  position: relative;
  z-index: 1000; /* Allow user to use input field */
  padding-top: 13px;
  @media (max-width: $bp3-break ) {
    padding-top: 7px; }
  @media (max-width: $bp1-break ) {
    padding-top: 11px; }	}
  
.main-search input[type=email], .main-search .wpcf7-email {
  width: 232px;
  padding: 5px 10px;
  margin-right: 3px;
  border: 1px solid $alt-gray-2;
  font-size: .8em;
  color: $light-gray-alt;
  @include border-radius(3px);
  @media (max-width: $bp3-break ) {
    width: 205px;
    font-size: .9em; }
  @media (max-width: $bp2-break ) {
    width: 160px; }	}
	
// Contact Form 7 
	
.ajax-loader {
  display: none; }
