.wrap, .footer-container {
  width: 86%;
  margin: 0 auto;
  max-width: 1032px;
  @media (max-width: $bp2-break-alt-2) { 
  	width: 84%; }
  @media (max-width: $bp2-break) { 
  	width: 84%; }
  @media (max-width: $bp1-break) {
    max-width: 31em; } }

.main {
  margin-bottom: 5px; }
  
.clear {
  clear: both; }	

	