/**
 * Responsive Nav Menu
 */
   
#toggle-nav {
  display: none;
  margin: 25px 0 0;
  padding: 10px 20px;
  font-weight: 700;  
  color: $red; 
  overflow: hidden;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #e0e0e0;
  background: #f7f7f7; 
  @include background(linear-gradient(#fdfdfd, #efefef)); 
  @include box-shadow(rgba(0,0,0,.025) 0 1px 3px);
    &:hover, &:active {
	  color: $main-gray;
      @include background(linear-gradient(#fbfbfb, #e9e9e9)); }  
  @media (max-width: $bp3-break) {
    display: block;
	  margin-bottom: 0;
	  cursor: pointer; }
  @media (max-width: $bp2-break) { 
    margin: 20px 0 0; }
  @media (max-width: $bp1-break) { 
    margin: 15px 0 0;
	  padding: 10px 15px; }
  @media (max-width: $bp-tiny-break) {
    margin: 15px 0 0; }	} 

.grid-wrap.nav-wrap {
  @media (min-width: $bp3-break-plus-1) {
    overflow: visible; } }

.top-nav {  
  display: block;  
  text-align: center;
  overflow: hidden;  
  margin: 30px 0 28px;
  padding: 10px 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray; 
  font-weight: 700;
    li {
      display: inline-block;
      padding: 0 2%; 
  @media (max-width: $bp3-break-plus-1) {
    overflow: visible; }
	@media (max-width: $bp3-break) {
	  display: block;
	  padding: 7px 0; } }
  @media (max-width: $bp3-break) {
    text-align: left; 
	  height: 0;
	  margin: 0 0 28px; // Bottom margin must be same as original .top-nav bottom margin
    padding: 0;
	  border-top: 0; 	
	  border-bottom: none; } }
	
.top-nav .first-menu-item {
  @media (min-width: $bp3-break-plus-1) and (max-width: $bp4-break) {
    display: none; } }	
	
.last-menu-item a {
   color: $main-gray; } 	

#menu-top-nav ul {
  position: absolute;
  z-index: 5000;
  left: -9999px;
  background: $alt-gray-5;
  width: 175%;
  text-align: left;
  @include box-shadow(rgba(0,0,0,.15) 1px 3px 3px); }

#menu-top-nav ul li {
  width: 100%;
  padding: 8px 10px;
  border-bottom: 1px solid #ccc; }

#menu-top-nav li:hover ul {
  z-index: 20000;
  left: 0; }

#menu-top-nav li:hover ul a {
  color: $red; }

#menu-top-nav li:hover ul a:hover {
  color: $main-gray; }

@media screen and (max-width: $bp3-break) {	

	.menu-top-nav-container {
	  margin-top: 15px;
	  padding-bottom: 15px;
	  border-bottom: 1px solid $light-gray; }

	.top-nav.showing {        
	  height: auto;
      padding-bottom: 15px; }

	.top-nav.hiding {        
	  height: 0; }   

}  