.slideout {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 9999; }

.slideout-tab {
  position: relative;
  right: -365px; /* width of .slideout-content minus width of .slideout-tab */
  height: 150px;
  width: 35px;   
  cursor: pointer;  
  border-top: 1px solid #850000;
  border-left: 1px solid #850000;
  border-bottom: 1px solid #850000;
  background: #a00; 
  @include box-shadow(rgba(white, 0.2) 1px 1px 0 inset, rgba(black, 0.2) -1px 1px 3px);
  @include background-image(linear-gradient(left, #aa0000, #8f0101)); 
  @include border-radius(5px 0 0 5px);
  &:hover {
    background: #a00;} }

.slideout-content {
  position: relative;
  right: -400px; /* equal to width of .slideout-content */
  top: -150px; /* negative value of height on .slideout-tab */
  width: 400px;   
  background: $alt-gray-2; }

.slideout-content.show-slideout {
  @include box-shadow(rgba(black, 0.15) -2px 2px 8px); }

/**
* Form Section
*/

.slideout-form {
  padding: 20px 30px; }

.slideout-form input[type=email],
.slideout-form input[type=text],
textarea {
  margin: 1px 0 0;
  padding: 5px 10px;
  width: 100%;
  color: $main-gray;
  font-weight: 400;
  font-size: 1em;  
  @include border-radius(4px);
  @include transition-duration(.3s);
  &:hover {
    @include box-shadow(rgba(black, .05) 1px 1px 6px); }
  &:focus {
    border: 1px solid #129FEA;
    @include box-shadow(rgba(black, .15) 1px 1px 2px inset); } }

.slideout-form p {
  font-size: .95em;
  margin: 0 0 10px; }