* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }
 
.wrap {
  min-height: 100%; }

.main {
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: $bp2-break) {
    padding-bottom: 300px; }
  @media (max-width: $bp1-break) {
    padding-bottom: 345px; }
  @media (max-width: $bp-small-break-alt) {
    padding-bottom: 365px; } }  /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -200px; /* negative value of footer height */
  height: 200px;
  clear: both; 
  @media (max-width: $bp2-break) {
    margin-top: -300px; 
    height: 300px; }
  @media (max-width: $bp1-break) {
    margin-top: -345px; 
    height: 345px; }
  @media (max-width: $bp-small-break-alt) {
    margin-top: -365px; 
    height: 365px; } } 