* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }
 
.wrap {
  min-height: 100%; }

.main {
  overflow: hidden;
  padding-bottom: 212px; /* must be same height as the footer */
  @media (min-width: $bp2-break-plus-1) and (max-width: 960px) {
    padding-bottom: 225px; }
  @media (max-width: $bp2-break) {
    padding-bottom: 315px; }
  @media (max-width: $bp1-break) {
    padding-bottom: 360px; }
  @media (max-width: $bp-small-break-alt) {
    padding-bottom: 385px; }
  @media (max-width: 360px) {
    padding-bottom: 390px; } }  /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -212px; /* negative value of footer height */
  height: 212px;
  clear: both; 
  @media (min-width: $bp2-break-plus-1) and (max-width: 960px) {
    margin-top: -225px; 
    height: 225px; }
  @media (max-width: $bp2-break) {
    margin-top: -315px; 
    height: 315px; }
  @media (max-width: $bp1-break) {
    margin-top: -360px; 
    height: 360px; }
  @media (max-width: $bp-small-break-alt) {
    margin-top: -385px; 
    height: 385px; }
  @media (max-width: 360px) {
    margin-top: -390px; 
    height: 390px; } } 