* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }
 
.wrap {
  min-height: 100%; }

.main {
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: $bp2-break) {
    padding-bottom: 305px; }
  @media (max-width: $bp1-break) {
    padding-bottom: 350px; }
  @media (max-width: 360px) {
    padding-bottom: 390px; }	}  /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -200px; /* negative value of footer height */
  height: 200px;
  clear: both; 
  @media (max-width: $bp2-break) {
    margin-top: -305px; 
    height: 305px; }
  @media (max-width: $bp1-break) {
    margin-top: -350px; 
    height: 350px; }
  @media (max-width: 360px) {
    margin-top: -390px; 
    height: 390px; }	} 