// Variables
$font-mult   : 1em;
$sans-serif  : Arial, 'Helvetica', sans-serif;
$serif 	     : Georgia, 'Times New Roman', 'Times', serif;
$font-size-1 : .95em; 
$font-size-2 : .9em; 
$font-size-3 : .85em; 
$font-size-4 : .8em; 
$font-size-5 : .75em; 

// Base

p { margin: 0 0 1.25em 0; }

h1, h2, h3, h4, h5, h6 { line-height: 1.125; }
  
h1, .alpha    { font-size: 2em;    margin: .67em 0; }
h2, .beta     { font-size: 1.5em;  margin: .75em 0; }
h3, .gamma    { font-size: 1.17em; margin: .83em 0; }
h4, .delta    { font-size: 1em;    margin: 1.1em 0; }
h5, .epsilon  { font-size: .83em;  margin: 1.5em 0; }
h6, .zeta     { font-size: .75em;  margin: 1.67em 0; }

.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta { 
  margin: 0; }
 
.bold { font-weight: bold; }

.center-text { text-align: center; }
  
  
// Additional

.h1-alt { 
  color: $mid-gray;
  font-size: $font-mult * .95; }
  
.h2-alt { 
  font-size: $font-mult * 1.25; }
  
.h1-main-logo { /* Hide text from appearing on screen */
    background-color: transparent;
    border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px; }

.h1-main-logo:before {
    content: "";
    display: block;
    width: 0;
    height: 0; }
  
.text-shadow-1 { text-shadow: 1px 1px 0 rgba(255, 255, 255, .9); }


